<!DOCTYPE html>
<html lang="ch">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//unpkg.com/layui@2.7.6/dist/css/layui.css" rel="stylesheet">
    <script src="//unpkg.com/layui@2.7.6/dist/layui.js"></script>
    <link href="{{url_for('static',filename='./images/favicon.ico')}}" rel="shortcut icon">
</head>

<body style="background-color: #f0f0f0">
<ul class="layui-nav" style="margin-bottom :30px">
    <li class="layui-nav-item"><a href="/"></a></li>
    <li class="layui-nav-item">
        <a>记录</a>
        <dl class="layui-nav-child">
            <dd><a href="/"></a></dd>
        </dl>
    </li>
</ul>
<div class="layui-container layui-anim layui-anim-fadein">
    <div class="layui-row">
        {%block content %}
        {% endblock %}
    </div>
</div>
</body>

</html>